*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Xanh Mono", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.resume{
    background-color: #fff;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
     align-items: center;
}
.name{
    font-size: 12px;
    padding: 30px 0px;
    background-color:  rgb(70, 6, 221);
    color: #fff;
    height: 100px;
    font-weight:;
}
.name h5{
    padding: 5px;
}
.aboutme{
    background-color: #e9dddd;
    margin: 5px 50px;
    font-weight: 100;
    padding: 30px 0px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 100;

}
.aboutme p{
    font-size: 12px;
    padding: 10px;
}
.edu{
    background-color: rgb(184, 217, 247);
    margin: 5px 50px;
    font-weight: lighter;
    padding: 20px 0px;
    font-size: 15px;
     border-radius: 20px;
}
.clg{
    padding: 5px 0px;
    background-color: #fff;
    margin: 5px 200px;
    font-weight: lighter;
    border-radius: 20px;
    font-size: 11px;
}
.sch{
    background-color: #fff;
     margin: 5px 100px;
    padding: 5px 0px;
    margin: 5px 200px;
     border-radius: 20px;
     font-size: 11px;
}
.skills{
    background-color: rgb(249, 202, 194);
     margin: 5px 50px;
    font-weight: lighter;
    padding: 20px 0px;
    text-transform: uppercase;
     border-radius: 20px;
}
.skills h5{
     padding: 5px 0px;
    background-color: #fff;
    margin: 5px 200px;
     border-radius: 20px;
     font-size: 10px;
}
.project{
     background-color: rgb(175, 136, 186);
    margin: 5px 50px;
    font-weight: lighter;
    padding: 20px 0px;
    font-size: 15px;
     border-radius: 20px;
     
}
.project h5{
    padding: 5px 0px;
    background-color: #fff;
    margin: 5px 200px;
     border-radius: 20px;
}

.contact{
    background-color: #c3d7c8;
    margin: 5px 50px;
    font-weight: lighter;
    padding: 20px 0px;
    font-size: 15px;
     border-radius: 20px;
}
.contact h5{
     padding: 5px 0px;
    background-color: #fff;
    margin: 5px 200px;
     border-radius: 20px;
     font-size: 10px;
}
.footer{
    background-color: #1B2433;
    font-size: 13px;
    color: white;
    align-items: center;
    padding: 20px;
}
    
   
/* .mern{
    background-color: #fff;
      margin: 5px 100px;
    padding: 5px 0px;
    margin: 5px 200px;
}
.jp{
      background-color: #fff;
      margin: 5px 100px;
    padding: 5px 0px;
    margin: 5px 200px;
}
.njs{
     background-color: #fff;
      margin: 5px 100px;
      padding: 5px 0px;
      margin: 5px 200px;
} */
