*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Xanh Mono", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.resume{
    background-color: #fff;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
     align-items: center;
}
.name{
    font-size: 20px;
    padding: 30px 0px;
    background-color:  rgb(70, 6, 221);
    color: #fff;
    height: 150px;
    font-weight: 0;
}
.name h5{
    padding: 5px;
}
.aboutme{
    background-color: #e9dddd;
    margin: 15px 180px;
    font-weight: 100;
    padding: 25px 0px;
    border-radius: 20px;
    font-weight: 100;
    height: 150px;
    font-size: 20px;
}
.aboutme p{
    font-size: 20px;
    padding: 15px 0px;
}
.edu{
    background-color: rgb(184, 217, 247);
    margin: 10px 180px;
    font-weight: 100;
    padding: 30px 0px;
    border-radius: 20px;
    height: 200px;
    font-size: 20px;
    height: 200px;
}
.clg{
    background-color: #fff;
    margin: 15px 300px;
    font-weight: 100;
    padding: 10px 0px;
    border-radius: 20px;
    font-size: 20px;
}
.clg h5{
    font-weight: normal;
}
.sch{
    background-color: #fff;
      margin: 15px 300px;
    font-weight: 100;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 20px;
}
.sch h5{
    font-weight: normal;
}

.skills{
    background-color: rgb(249, 202, 194);
     margin: 10px 180px;
    font-weight: 100;
    padding: 30px 0px;
    border-radius: 20px;
    font-weight: 100;
    height: 200px;
    font-size: 20px;
    height: 280px;
}
.skills h5{
    background-color: #fff;
   margin: 20px 300px;
    font-weight: 100;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 20px;
}
.project{
     background-color: rgb(175, 136, 186);
    margin: 10px 180px;
    padding: 30px 0px;
    border-radius: 20px;
    height: 200px;
    font-size: 20px;
    height: 280px;
}
.project h5{
    background-color: #fff;
   margin: 20px 300px;
    font-weight: 100;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 20px;
}

.contact{
    background-color: #c3d7c8;
    margin: 10px 180px;
    font-weight: 100;
    padding: 30px 0px;
    border-radius: 20px;
    font-weight: 100;
    height: 200px;
    font-size: 20px;
    height: 250px;
}
.contact h5{
    background-color: #fff;
    margin: 10px 300px;
    font-weight: 100;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: 100;
    font-size: 20px;
}
.footer{
    background-color: #1B2433;
    font-size: 20px;
    color: white;
    align-items: center;
    padding: 35px;
    height: 100px;
}
.footer h6{
    font-weight: 100;
}
    
